### Project 2 first Kaggle submission

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
train = pd.read_csv('datasets//train.csv')
test = pd.read_csv('datasets//test.csv')
sample = pd.read_csv('datasets//sample_sub_reg.csv')

In [3]:
train.shape, test.shape, sample.shape

((2051, 81), (878, 80), (878, 2))

In [4]:
sample.head(2)

   Id    SalePrice
0   2  181479.1217
1   4  181479.1217

In [6]:
# train model on train
# test model on test
train.columns
X_train = train[['1st Flr SF']]
y_train = train.SalePrice
X_test = test[['1st Flr SF']]

slr_kaggle = LinearRegression()

#fit on train df
slr_kaggle.fit(X_train, y_train)
# predict on test df
y_test_hat = slr_kaggle.predict(X_test)

In [7]:
# create df to upload to kaggle
# this df has to have ID and SalePrice columns, spelled exactly this way
print(test.shape, sample.shape)
kaggle_submission = pd.DataFrame({'Id': test['Id'],
                                  'SalePrice': y_test_hat})
kaggle_submission.head(3)

(878, 80) (878, 2)

     Id      SalePrice
0  2658  149755.134628
1  2718  280699.737426
2  2414  119584.706788

In [8]:
kaggle_submission.to_csv('datasets/slr_to_kaggle.csv',
                        index=False)

In [10]:
pd.read_csv('datasets/slr_to_kaggle.csv')

       Id      SalePrice
0    2658  149755.134628
1    2718  280699.737426
2    2414  119584.706788
3    1989  157174.092294
4     625  209848.691719
..    ...            ...
873  1662  171517.410447
874  1234  173990.396336
875  1373  187220.870839
876  1672  144314.565673
877  1939  151857.172633

[878 rows x 2 columns]