## project 2 - maing a kaggle submission off a pipeline

In [14]:
import pandas as pd

from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from sklearn.pipeline import Pipeline

In [15]:
df = pd.read_csv('datasets/train.csv', keep_default_na=False, na_values=[''])
kaggle = pd.read_csv('datasets/test.csv', keep_default_na=False, na_values=[''])

In [16]:
df.corr()['SalePrice'].sort_values(ascending=False).head()

SalePrice       1.000000
Overall Qual    0.800207
Gr Liv Area     0.697038
Garage Area     0.650270
Garage Cars     0.648220
Name: SalePrice, dtype: float64

In [17]:
# impute garage area with mean
df['Garage Area'] = df['Garage Area'].fillna(df['Garage Area'].mean())

X = df[['Overall Qual', 'Gr Liv Area', 'Garage Area']]
y = df['SalePrice']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [18]:
X = df[['Overall Qual', 'Gr Liv Area', 'Garage Area']]
y = df['SalePrice']

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [20]:
X.isnull().sum()

Overall Qual    0
Gr Liv Area     0
Garage Area     0
dtype: int64

In [21]:
pipe = Pipeline([
    ('pf', PolynomialFeatures(include_bias=False)),
    ('ss', StandardScaler()),
    ('lasso', Lasso())
])

pipe.fit(X_train, y_train)
pipe.score(X_train, y_train), pipe.score(X_test, y_test),

C:\Users\micha\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.672e+10, tolerance: 9.727e+08
  model = cd_fast.enet_coordinate_descent(

(0.8056054355508949, 0.8173992380968571)

In [23]:
X

      Overall Qual  Gr Liv Area  Garage Area
0                6         1479        475.0
1                7         2122        559.0
2                5         1057        246.0
3                5         1444        400.0
4                6         1445        484.0
...            ...          ...          ...
2046             8         1728        520.0
2047             4          861        539.0
2048             6         1913        342.0
2049             4         1200        294.0
2050             7         1804        442.0

[2051 rows x 3 columns]

In [25]:
kaggle[X.columns].isnull().sum()

Overall Qual    0
Gr Liv Area     0
Garage Area     0
dtype: int64

In [31]:
# a little hacky, but it works
kaggle_subset = kaggle[X.columns]

# pipeline means we dont need to scale/use polyfeatures
kaggle_preds = pipe.predict(kaggle_subset)

In [ ]:
preds_df = pd.DataFrame({
    'Id': kaggle['Id'],
    'SalePrice': kaggle_preds
})

preds_df

In [32]:
kaggle

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NA,NA,NA,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NA,IR1,Lvl,...,0,0,0,NA,NA,NA,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NA,IR1,Lvl,...,0,0,0,NA,NA,NA,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NA,Reg,Lvl,...,0,0,0,NA,NA,NA,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NA,IR1,Lvl,...,0,185,0,NA,NA,NA,0,7,2009,WD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
873,1662,527377110,60,RL,80.0,8000,Pave,NA,Reg,Lvl,...,0,0,0,NA,NA,NA,0,11,2007,WD
874,1234,535126140,60,RL,90.0,14670,Pave,NA,Reg,Lvl,...,0,0,0,NA,MnPrv,NA,0,8,2008,WD
875,1373,904100040,20,RL,55.0,8250,Pave,NA,Reg,Lvl,...,0,0,0,NA,NA,NA,0,8,2008,WD
876,1672,527425140,20,RL,60.0,9000,Pave,NA,Reg,Lvl,...,0,0,0,NA,GdWo,NA,0,5,2007,WD
877,1939,535327160,20,RL,70.0,8400,Pave,NA,Reg,Lvl,...,0,0,0,NA,GdWo,NA,0,3,2007,WD