### Project 2 first Kaggle submission

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
train = pd.read_csv('datasets//train.csv')
test = pd.read_csv('datasets//test.csv')
sample = pd.read_csv('datasets//sample_sub_reg.csv')

In [3]:
train.shape, test.shape, sample.shape

((2051, 81), (878, 80), (878, 2))

In [4]:
sample.head(2)

   Id    SalePrice
0   2  181479.1217
1   4  181479.1217

In [5]:
# train model on train
# test model on test
train.columns
X_train = train[['1st Flr SF']]
y_train = train.SalePrice
X_test = test[['1st Flr SF']]

slr_kaggle = LinearRegression()

#fit on train df
slr_kaggle.fit(X_train, y_train)
# predict on test df
y_test_hat = slr_kaggle.predict(X_test)

In [6]:
# create df to upload to kaggle
# this df has to have ID and SalePrice columns, spelled exactly this way
print(test.shape, sample.shape)
kaggle_submission = pd.DataFrame({'Id': test['Id'],
                                  'SalePrice': y_test_hat})
kaggle_submission.head(3)

(878, 80) (878, 2)

     Id      SalePrice
0  2658  149755.134628
1  2718  280699.737426
2  2414  119584.706788

In [7]:
kaggle_submission.to_csv('datasets/slr_to_kaggle.csv',
                        index=False)

In [8]:
pd.read_csv('datasets/slr_to_kaggle.csv')

       Id      SalePrice
0    2658  149755.134628
1    2718  280699.737426
2    2414  119584.706788
3    1989  157174.092294
4     625  209848.691719
..    ...            ...
873  1662  171517.410447
874  1234  173990.396336
875  1373  187220.870839
876  1672  144314.565673
877  1939  151857.172633

[878 rows x 2 columns]

In [9]:
train.head(1)

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500

In [14]:
train.columns

Index(['Id', 'PID', 'MS SubClass', 'MS Zoning', 'Lot Frontage', 'Lot Area',
       'Street', 'Alley', 'Lot Shape', 'Land Contour', 'Utilities',
       'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1',
       'Condition 2', 'Bldg Type', 'House Style', 'Overall Qual',
       'Overall Cond', 'Year Built', 'Year Remod/Add', 'Roof Style',
       'Roof Matl', 'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type',
       'Mas Vnr Area', 'Exter Qual', 'Exter Cond', 'Foundation', 'Bsmt Qual',
       'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin SF 1',
       'BsmtFin Type 2', 'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF',
       'Heating', 'Heating QC', 'Central Air', 'Electrical', '1st Flr SF',
       '2nd Flr SF', 'Low Qual Fin SF', 'Gr Liv Area', 'Bsmt Full Bath',
       'Bsmt Half Bath', 'Full Bath', 'Half Bath', 'Bedroom AbvGr',
       'Kitchen AbvGr', 'Kitchen Qual', 'TotRms AbvGrd', 'Functional',
       'Fireplaces', 'Fireplace Qu', 'Garage Type', 'Garage Yr Blt',
       'Garage Finish', 'Garage Cars', 'Garage Area', 'Garage Qual',
       'Garage Cond', 'Paved Drive', 'Wood Deck SF', 'Open Porch SF',
       'Enclosed Porch', '3Ssn Porch', 'Screen Porch', 'Pool Area', 'Pool QC',
       'Fence', 'Misc Feature', 'Misc Val', 'Mo Sold', 'Yr Sold', 'Sale Type',
       'SalePrice'],
      dtype='object')

In [ ]:
train['baseline'] = train['SalePrice'].mean()

In [ ]:
train.columns

In [ ]:
train['Condition 2'].value_counts()

In [ ]:
train.drop(train.columns[0:4], axis=1, inplace=True)
train.drop(train.columns[2:12], axis=1, inplace=True)
train.drop(train.columns[7:14], axis=1, inplace=True)
train.drop(train.columns[10:19], axis=1, inplace=True)
train.drop(train.columns[14:17], axis=1, inplace=True)
train.drop(train.columns[15:17], axis=1, inplace=True)
train.drop(train.columns[17:19], axis=1, inplace=True)
train.drop(train.columns[18:43], axis=1, inplace=True)

In [ ]:
train

In [ ]:
train = train.loc[train['Bldg Type'] == '1Fam']

In [ ]:
train.shape

In [ ]:
train.isnull().sum()

In [ ]:
train.dtypes

In [ ]:
train['Lot Frontage'].unique()

In [ ]:
train.columns = [col.replace(' ', '_') for col in train.columns]

In [ ]:
train.columns = train.columns.str.lower()

In [ ]:
train.rename(columns={'saleprice': 'sale_price'}, inplace=True)

In [ ]:
train.head(1)

In [ ]:
train.isnull().sum()

In [ ]:
train['lot_frontage'].fillna(0, inplace=True)

In [ ]:
X = train.drop(['sale_price'], axis=1)
y = train['sale_price']

In [ ]:
len(train_test_split(X, y,
                train_size=0.8, 
                random_state=123))

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    train_size=0.8,
                                                    random_state=123)
print("Train shapes:", X_train.shape, y_train.shape)
print("Test shapes:", X_test.shape, y_test.shape)

In [ ]:
fig, ax = plt.subplots(figsize=(10, 6))
ax.scatter(X_train.kitchen_qual, y_train)

In [ ]:
fig, ax = plt.subplots(figsize=(10, 6))
ax.scatter(X_train.gr_liv_area, y_train)

In [ ]:
y_train